rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /bookings/{id} {
      allow read, write: if true;
    }
    match /products/{id} {
      allow read: if true;
      allow write: if true;
    }
    match /transactions/{id} {
      allow read, write: if true;
    }
    match /feedback/{id} {
      allow read, write: if true;
    }
    match /announcements/{id} {
      allow read, write: if true;
    }
    match /users/{id} {
      allow read, write: if true;
    }
  }
}
